<ion-view title="Home" id="page1" style="background-color:#000000;">
  <ion-content padding="true" class="has-header" ng-controller="homeCtrl">
    <div class="list card" id="home-card24">
      <ion-item class="item-avatar" id="home-list-item23">
        <h2>{{homeData.user.nombre}} {{homeData.user.apellido}}</h2>
        <p>{{homeData.user.zona}}</p>
      </ion-item>
      <form id="home-form5" class="list">
        <ion-item class="range range-positive" id="home-range3">Handicup: {{homeData.user.handicup}}
          <input type="range" ng-model="homeData.user.handicup" min="0" max="100" step="1" disabled>
        </ion-item>
      </form>
    </div>
    <ion-list id="home-list2" ng-repeat="partido in homeData.partidos">
      <ion-item ng-click="detallePartido({{partido.id}})" id="home-list-item11">
        En: {{partido.cancha_nombre}}<br>
        El  {{formatFecha(partido.fecha)}} a las {{formatHora(partido.hora)}} hs. 
      </ion-item>
    </ion-list>
    <div id="home-button-bar1" class="button-bar">
      <button ng-click="goTo('menu.partidoNuevoDonde')" id="home-button11" class="button button-positive button-block icon ion-ios-football"></button>
      <button id="home-button12" class="button button-positive button-block icon ion-search"></button>
      <button id="home-button13" class="button button-positive button-block icon ion-android-mail"></button>
    </div>
  </ion-content>
</ion-view>