<ion-view title="Partido nuevo - donde" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="partidoNuevoDonde-heading2" style="color:#000000;">Dónde?</h1>
    <div id="partidoNuevoDonde-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Buscá y elegí una cancha</p>
    </div>
    <form id="partidoNuevoDonde-form7" class="list">
      <label class="item item-input" id="partidoNuevoDonde-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Ingresá una dirección">
      </label>
      <label class="item item-select" id="partidoNuevoDonde-select1">
        <span class="input-label">Tamaño</span>
        <select>
          <option>5</option>
          <option>7</option>
          <option>11</option>
        </select>
      </label>
      <ion-toggle toggle-class="toggle-positive" id="partidoNuevoDonde-toggle1">Techada</ion-toggle>
      <label class="item item-select" id="partidoNuevoDonde-select3">
        <span class="input-label">Tipo de piso</span>
        <select>
          <option>cesped</option>
          <option>cesped sintetico</option>
          <option>cemento</option>
        </select>
      </label>
    </form>
    <button id="partidoNuevoDonde-button15" class="button button-positive button-block icon ion-search"> Buscar</button>
    <ion-list id="partidoNuevoDonde-list9">
      <ion-item class="item-avatar" id="partidoNuevoDonde-list-item38">
        <h2>Cancha 1</h2>
      </ion-item>
      <ion-item class="item-avatar" id="partidoNuevoDonde-list-item37">
        <h2>Cancha 2</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>